

.inv {

    font-size: x-large;
    height: 100px;
    text-align: center;
    border: 2px solid gray;
    width: 50%;
    float: left;
    height: 400px;
    background-color: #0b1014;
    color: #f1e4eb;

}
.vendor {

    font-size: x-large;
    height: 100px;
    text-align: center;
    border: 2px solid gray;
    width: 50%;
    float: left;
    height: 400px;
    background-color: #0b1014;
    color: #f1e4eb;

}

#invContainer {
    display: flex;
    justify-content: center;

}

.foodBuff {
    text-align: left;
}

header {
    border: 3px solid gray;
    text-align: center;
}

.headerstroke {
    
    -webkit-text-stroke: 1px #6a0407;
    opacity: 80%;
    text-shadow:20px 20px 20px #6a0407;
} 


.buttons {
    font-weight: bold;
    background-color:#6a0407;
    color:#f1e4eb;
    border: 2px solid #303632;
    font-family: 'MedievalSharp';font-size: 15px;
}
body{
    background-color: rgb(247, 177, 10);
    font-family: 'MedievalSharp';font-size: 22px;
}